body {
    font-family: 微软雅黑;
    font-size: 14px;
    background-color: #EDEDEF;
}

.reg_err {
    color: red;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.top-left {
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    color: #525252;
}

.top-right {
    float: left;
    width: 79%;
    height: 50px;
}

.top-menu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    width: 100%;
}

    .top-menu a {
        font-size: 14px;
        font-family: 微软雅黑;
        color: black;
    }

        .top-menu a:hover {
            color: #D6623D;
            text-decoration: none;
        }

.content-main {
    background-color: white;
    border: 1px solid #ECECEC;
    padding-bottom: 15px;
}

.content-title {
    line-height: 30px;
    height: 30px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

    .content-title a {
        font-weight: bold;
        font-size: 20px;
        color: black;
    }

        .content-title a:hover {
            color: #D6623D;
            text-decoration: none;
        }

.content-date {
    height: 20px;
    color: #A2A2A2;
    padding-left: 40px;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}

    .content-date span {
        margin-right: 10px;
    }

.content-t {
    font-size: 14px;
    color: #656565;
    line-height: 25px;
    padding-left: 40px;
    margin-bottom:15px;
}


.test {
    border: 1px solid red;
}
